body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:80px;
  width:1110px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:80px;
  width:1110px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1106px;
  visibility:hidden;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:120px;
  top:600px;
  width:1110px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:1106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:152px;
  top:96px;
  width:300px;
  height:40px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#CC0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
  text-shadow:1px 1px 2px rgba(255, 255, 255, 0.6470588);
  -webkit-text-shadow:1px 1px 2px rgba(255, 255, 255, 0.6470588);
  -moz-text-shadow:1px 1px 2px rgba(255, 255, 255, 0.6470588);
}
#u8 {
  position:absolute;
  left:140px;
  top:133px;
  width:321px;
  height:20px;
  font-family:'Magneto Negreta', 'Magneto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF66;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1051px;
  top:110px;
  width:153px;
  height:16px;
  color:#FFFFCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:120px;
  top:160px;
  width:180px;
  height:440px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:440px;
}
#u13 {
  position:absolute;
  left:2px;
  top:212px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1028px;
  top:131px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1090px;
  top:131px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1153px;
  top:131px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1121px;
  top:89px;
  width:83px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:907px;
  top:131px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:145px;
  top:190px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u26 {
  position:absolute;
  left:145px;
  top:257px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u28 {
  position:absolute;
  left:145px;
  top:325px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u30 {
  position:absolute;
  left:145px;
  top:392px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u32 {
  position:absolute;
  left:145px;
  top:460px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u34 {
  position:absolute;
  left:970px;
  top:131px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:350px;
  top:190px;
  width:370px;
  height:390px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:390px;
}
#u37 {
  position:absolute;
  left:2px;
  top:187px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:398px;
  top:182px;
  width:81px;
  height:21px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:773px;
  top:190px;
  width:370px;
  height:390px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:390px;
}
#u41 {
  position:absolute;
  left:2px;
  top:187px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:821px;
  top:182px;
  width:81px;
  height:21px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#993300;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
