#loginBox {
	width: 550px;
	background-image: url(../images/login.png);
	height: 400px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #65A284;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
#loginTb {
	margin-top: 170px;
	margin-left: 210px;
	position: relative;
}
