@CHARSET "UTF-8";
*{
	font-size: 9pt;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
}
#topFrame{
	height: 80px;
	background-image: url('../images/titlebg.png');
	background-repeat: repeat-x;
}

#rightFrame{
	width: 400px;
	background-color: #CCFFFF;
}

#leftFrame{
	width: 180px;
	background-color: #CCFFFF;
}

#bottomFrame{
	height: 30px;
	background-image: url('../images/bottomBg.png');
	background-repeat: repeat-x;
	line-height: 30px;
	text-align: center;
	color: #666;
}
a{
	text-decoration: none;
	color: black;
}
a:HOVER {
	color: red;
}

#logoBox{
	float: left;
	text-align: center;
	width: 360px;
	padding-top: 15px;
}

#headInfoBox{
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
}

#headInfoBox a{
	color: #fff;
}

#headInfoBox a:hover{
	color: #f00;
}

.tableBorder{
	border-top: blue double 5px;
	border-bottom: blue solid 2px;
}

.trBg{
	background-color: #ff9;
}