<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="major">
	<!-- 列表 -->
    <select id="majorlist" parameterType="map" resultType="map">
    	SELECT 
		   specialtyID,bigClassID,specialtyName,descript
		FROM fl_specialty
		<if test="where != null">
			where ${where}
		</if>
		LIMIT #{offset},#{pgSize}
    </select>
    <!-- 记录条数 -->
    <select id="majorNum" parameterType="map" resultType="int">
    	select count(specialtyID) from fl_specialty
    	<if test="where != null">
			where ${where}
		</if>
    </select>
    
    <!-- 编辑 -->
    <select id="majorByid" parameterType="Int" resultType="map">
    	SELECT 
		   major.*
		FROM fl_specialty major
		where major.specialtyID = #{specialtyID}
    </select>
    
    <!-- 添加 -->
    <insert id="majorInsert" parameterType="map">
    	insert fl_specialty
    	set
    		bigClassID = #{bigClassID},
			specialtyName = #{specialtyName},
			descript = ${descript}
    </insert>
    
    <!-- 更新 -->
    <update id="majorUpdate" parameterType="map">
    	update fl_specialty
    	set
    		specialtyID = #{specialtyID},
    		bigClassID = #{bigClassID},
			specialtyName = #{specialtyName},
			descript = ${descript},
		where specialtyID = #{oldspecialtyID}
    </update>
    
    <!-- 按条件删除 -->
    <delete id="deleteByWhere" parameterType="String">
    	
    </delete>
    
    <!-- 按专业号删除 -->
    <delete id="deleteBySpecialtyID"  parameterType="Int">
    	delete from fl_specialty where specialtyID=#{specialtyID}
    </delete>

    
    
</mapper>