<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbcInfo.properties" />
	<typeAliases>
		<typeAlias type="cn.nwsuaf.bean.LoginUserBean" alias="LoginUserBean" />
		<typeAlias type="cn.nwsuaf.bean.NoticeBean" alias="NoticeBean" />
		<typeAlias type="cn.nwsuaf.bean.TutorListBean" alias="TutorListBean"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
				<property name="poolPingConnectionsNotUsedFor" value="28000" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- 外部SQL映射文件-->
		<mapper resource="cn/nwsuaf/mapper/noticeMapper.xml" />
		<mapper resource="cn/nwsuaf/mapper/loginMapper.xml" />
		<mapper resource="cn/nwsuaf/mapper/tutorlistMapper.xml" />
	</mappers>
</configuration>
