<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nt">
    <!-- 更新阅读次数 -->
    <update id="noticeUpdateSkim" parameterType="int">
    	update fl_notice
    	set
    		skipNum = skipNum + 1
    	where
    		noticeID = #{noticeID}
    </update>
    <!-- 分页查询 -->
    <select id="getNoticeByPage" parameterType="map" resultType="map">
    	select 
    		noticeID,
    		title,
    		DATE_FORMAT(pdate,'%Y-%m-%d %T') pdate,
    		noticeID id 
    	from fl_notice 
    	order by noticeID DESC 
    	limit #{offset},#{pgSize}
    </select>
    
    <!-- 记录条数 -->
    <select id="getCount" resultType="int">
    	select count(noticeID) from fl_notice
    </select>
    
    <!-- 按noticeID查询 -->
    <select id="getNoticeByID" parameterType="int" resultType="map">
    	select content from fl_notice where noticeID = #{id}
    </select>
</mapper>