<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tutorlist">

	<select id="getTutorList" resultType="TutorListBean">
		select * from fl_tutor
	</select>
<!-- 	<select id="getTutorListByName" resultType="TutorListBean"
		parameterType="uname">
		select * from fl_tutor where uname = #{uname}
	</select>
	<select id="getTutorListBySpecialtyID" resultType="TutorListBean"
		parameterType="specialtyID">
		select * from fl_tutor where specialtyID =
		#{specialtyID}
	</select> -->
</mapper>