<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <!-- 重置口令 -->
    <update id="resetPasswd" parameterType="String">
    	update fl_user set passwd=password("123456") where loginname = #{loginname}
    </update>
    
    <!-- 按条件删除 -->
    <delete id="deleteStudentByWhere" parameterType="String">
    	delete from fl_user
    	where loginname in (select loginname from fl_student where $where)
    </delete>
    
    <!-- 按登录名删除 -->
    <delete id="deleteByLoignname"  parameterType="String">
    	delete from fl_user where loginname = #{loginname}
    </delete>
    <!-- 插入学生用户 -->
    <insert id="addStudentUser" parameterType="string">
    	insert into fl_user
    	set 
    	  loginname = #{stuid},
    	  passwd = password(#{stuid}),
    	  role = "student"
    </insert>
    
    <!-- 检测用户名是否存在 -->
    <select id="loginNameIsExist" parameterType="String" resultType="int">
        select count(loginName) from fl_user where loginName = #{loginname}
    </select>
    
    <!-- 修改登录名 -->
    <update id="renameLogin" parameterType="map">
		update fl_user set  loginName = #{loginName} where loginName = #{oldLoginName}
    </update>
</mapper>