body {
	font-family: "宋体";
	font-size: 9pt;
	line-height: 2;
	margin: 0px;
}
.input {
	font-size: 9pt;
	border: 1px solid #005D15;
	padding: 2px;
}
#header {
	background-image: url(../../images/title_bg.png);
	height: 100px;
	
}
#nav {
	margin-left: 380px;
	margin-top: 45px;
	padding: 0px;
	line-height: 30px;
}
#nav ul {
	margin: 0px;
	padding: 0px;
	height: 10px;
}
#other {
	text-align: right;
	padding-right: 30px;

}
#tree li {
	list-style-image: url(../../images/icon16_02.gif);
	list-style-position: outside;
}

#nav li {
	float: left;
	width: 90px;
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	font-weight: bolder;
}

#leftDiv {
	padding: 0px;
	float: left;
	width: 180px;
	height: 100%;
	background-color: #BEF9BE;
	border-right-width: 2px;
	border-right-style: double;
	border-right-color: #043804;
	margin: 0px;
}

#loginBox {
	height: 500px;
	border: 1px solid #006633;
}

#contentDiv {
	margin-left: 180px;
	padding: 10px;
	height: 96%;
	overflow: auto;
}
#foot {
	height: 50px;
	text-align: center;
	background-image: url(../../images/foot_bg.png);
	padding: 10px;
	background-repeat: repeat-x;
	position: static;
	left: 0px;
	bottom: 0px;
}
#tree {
	background-color: #FFFFFF;
	margin: 10px;
	padding: 5px;
}

.selectNav {
	color: #FFFFFF;
	background-image: url(../../images/nav_bg.png);
}

#listTable caption {
	font-size: 18pt;
	font-weight: bold;
	padding: 10px;
}
#listTable th {
	color: #FFFFFF;
	background-image: url(../../images/nav_bg.png);
}
#listTable {
	border-top-width: 6px;
	border-bottom-width: 2px;
	border-top-style: double;
	border-bottom-style: solid;
	border-top-color: #005D00;
	border-right-color: #005D00;
	border-bottom-color: #005D00;
	border-left-color: #005D00;
	font-size: 9pt;
	line-height: 1.5;
}
#listTable td {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #008200;
	text-align: center;
}

a,a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
}

#page {
	margin-top:3px;
	padding-top:10px;
	padding-right:50px;
	height:50px;
}
#page a {
	margin:3px;
	float:right;
	font-size:13px;
	display:block;
	background-color:#9C3;
	width:50px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
}
#page a:hover {
	border:1px solid gray;
}
#page span {
	display:block;
	float:right;
	margin-left:5px;
}
#page #go {
	border:1px solid gray;
	background-color:green;
	border-style:outset;
	width:30px;
	color:white;
	font-weight:bold;
}

.click_go {
	border-style:inset;
}
#manage a {
	text-decoration:none;
	color:blue;
}
#manage a:hover {
	text-decoration:underline;
}
#manage h1 {
	margin:5px;
	padding:3px;
}

#add table.add_notice input {
	height:25px;
	padding-left:2px;
	padding-top:2px;
}
#add table.add_notice textarea {
	padding:3px;
}
#add #submit {
	margin:10px auto;
	text-align:center;
}
#add #submit input {
	border:1px solid gray;
	border-style:outset;
	height:25px;
}

#commonTableBdr{
	border: solid 2px #000000;
	border-collapse: collapse;
}

#commonTableBdr td{
	border: solid 1px #000000;
	
}