body {
	font-size: 9pt;
	line-height: 2;
	background-color: #D9FFD9;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#addin {
	text-align: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
}
#first {
	height: 235px;
}


#mainDiv {
	padding: 5px;
	background-color: #FFFFFF;
}
#imageNews {
	height: 225px;
	width: 300px;
	float: left;
	border: 1px solid #006600;
	margin-left: 5px;
}
.item2 div {
	font-weight: bold;
	padding-left: 10px;
}
#mainDiv li {
	margin-left: 20px;
}
.item2 ul {
	margin-left: 20px;
}

#second {
	height: 250px;
	margin: 5px;
	border: 1px solid #FF9797;
}

.item {
	height: 225px;
	float: left;
	width: 325px;
	margin-left: 12px;
	padding: 0px;
	border: 1px solid #009933;
}
#second .item2 {
	margin: 5px;
	float: left;
	height: 210px;
	width: 314px;
	border: 1px solid #FF9393;
}

.item div  {
	height: 195px;
	padding-left: 10px;
}
#second #title {
	font-size: 11pt;
	font-weight: bold;
	color: #FFF;
	background-color: rgb(121,186,68);
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF9797;
}

ul,li {
	padding:0px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
a {
	text-decoration: none;
	color: #006600;
}
#foot {
	padding: 5px;
	background-color: #FFFFFF;
}

#nav {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-image: url(../images/list_title.png);
	background-repeat: repeat-x;
	background-position: 0px -170px;
	height: 40px;
}
#nav ul,#nav li {
	list-style-type: none;
}

.menu {
	float: left;
	width: 85px;
	text-align: center;
	z-index: 200;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.submenu {
	display: none;
}
#nav .manMenu {
	position: absolute;
	z-index: 10;
}

.menu_show{
	border: 1px solid #0CF33A;
	background-color: #ADFBBD;
}
.item span {
	background-image: url(../images/foot_bg.png);
	background-repeat: repeat-x;
	padding-left: 10px;
	display: block;
	font-weight: bold;
	color: #006600;
	font-size: 10pt;
}
