@CHARSET "UTF-8";

#construction h2 {
	width:180px;
	margin:0;
	padding:3px;
	padding-left:25px;
	font-size:16px;
	background-color:#990;
	color:white;
	background-image:url(../images/c_tub.png);
	background-repeat:no-repeat;
	background-position:10px 6px;
}
#construction .constr {
	margin:5px 0;
	padding:5px;
	background-color:#E9FEF2;
}
#construction .constr:hover {
	border:1px solid #96F;
}
#construction #standard table {
	border:1px solid #CF3;
	width:900px;
	font-size:14px;
}
#construction #standard table tr td {
	padding:10px;
	font-family:"黑体";
	border-bottom:1px solid #960;
	font-size:14px;
}
#construction #standard table tr th {
	color:#39F;
	font-size:14px;
}
#construction div.rel_content {
	margin:3px auto;
	padding:5px;
	width:800px;
	font-size:14px;
}
#construction #standard table tr td.rel_content {
	font-family:"宋体";
}
#construction .rel_content p {
	line-height:1.5em;
	text-indent:30px;
}