@CHARSET "UTF-8";
#forum_lt {
	width:100%;
	position:relative;
	height:100%;
	background-color:white;
}
#forum_lt h1 {
	margin:0 auto;
	padding:0;
	text-align:center;
}
#module {
	position:absolute;
	right:80px;
	top:100px;
	width:150px;
	height:304px;
	border:1px solid orange;
}
#module:hover {
	border:2px solid gray;
	background-color:#EEFEDA;
}
#invitation {
	padding:2px;
	position:absolute;
	left:80px;
	top:100px;
	width:700px;
	height:300px;
	border:1px solid orange;
}
#invitation:hover {
	border:2px solid gray;
}
#invitation h2 {
	height:40px;
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:15px;
	color:green;
}
#invitation h2 span {
	display:block;
	float:right;
	font-weight:normal;
	font-size:12px;
}
#myInv {
	padding:3px 5px;
}
#viewForum {
	position:relative;
}
#viewForum h2 {
	margin:10px 0;
	padding:0;
	padding-left:120px;
}
#issueForum {
	width:100%;
	height:100%;
	background-color:#DFFDED;
}
#issueForum h2 {
	margin:10px auto;
	padding:0;
	text-align:center;
	font-size:20px;
}
.bgcolor {
	/*
	background-color:#EAF7DB;
	*/
	width:100%;
}
#forumInfo {
	width:850px;
	margin:0 auto;
	font-size:15px;
}
#msg_topic {
	margin:10px 0;
	padding:10px;
	padding-top:5px;
	height:20px;
	background-color:#0088CC;
	color:white;
	font-weight:bold;
}
#forumInfo table {
	table-layout:fixed;
	border-collapse:collapse;
}
#forumInfo table td{
	padding:5px;
	word-break:break-all;
	word-wrap:break-word;
}
#issuer {
	background-color:#E6DDF0;
}
#forumInfo .replyer {
	background-color:#EBE1C9;
}
#forumInfo .showInfo {
	font-size:15px;
	line-height:1.4em;
}
#forumInfo .showInfo p {
	margin:2px;
	padding:0;
}
#msg_table,#msg_table td {
	margin:5px auto 10px;
	border:1px solid gray;
}
#forumInfo div.reply_t {
	float:right;
	width:150px;
}
#forumInfo table.msg_reply {
	border:1px dotted blue;
}
table.msg_reply td {
	border-collapse:collapse;
	border:1px dotted blue;
}
#searchMsg {
	position:absolute;
	top:10px;
	right:280px;
}
